@model MyStackOverFlow.Models.Question


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="BaseLayout.css" type="text/css" />
    <title>Wehry Home Page</title>


    <link href="~/Styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <br />
    <h2>Details</h2>
    <div class="main">
        <div>@Model.Tilte</div>
        <div>Posted By:  @Model.User.UserName  &nbsp; &nbsp; Date : @Model.Qdate </div>
        <div>Description : </div>
        <div>@Model.Description</div>
        <br />
        <div class="ans">

            @{
                int count = 1;

                foreach (var ans in Model.Answers)
                {
                    <div> Answer @count </div>

                    <div>@ans.Description </div>
                    <div>
                        <span class="qdetail">
                            Answered by : @ans.User.UserName &nbsp; &nbsp; Date : @ans.Ansdate
                            &nbsp; &nbsp; Votes : @ans.AnsVoteCount  &nbsp; &nbsp;
                            @Html.ActionLink("View Comments", "Index", "AComments", new { id = Model.Id }, null)
                            @Html.ActionLink("Any Comments?", "Create", "AComments", new { id = Model.Id }, null)
                        </span>
                    </div>
                    count++;
                }
            }
        </div>

        <br />
        <br />
        <div>
            @foreach (var tag in Model.Tag)
            {
                string MyTag = @tag.Title;

                <span>
                    &nbsp;&nbsp;
                    @Html.ActionLink(MyTag, "Details", "Tags", new { id = tag.TagId }, null)

                </span>
            }
            <span>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;Votes : @Model.QVoteCount</span>
        </div>
        <br />
        <div>

            @Html.ActionLink("Post A Answer", "CreateAns", "Answers", new { id = Model.Id }, null) |
            @Html.ActionLink("Comment", "Create", "QComments", new { id = Model.Id }, null) |
            @Html.ActionLink("VoteUp", "CreateQUpVote", "Votes", new { id = Model.Id }, null)
        </div>
      
    </div>
</body>
</html>

