@model MyStackOverFlow.Models.QComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Tilte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Tilte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
