@model MyStackOverFlow.Models.Vote

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Answer.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question.Tilte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Tilte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpVote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpVote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DownVote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DownVote)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
